<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dream.mapper.BookNoteMapper">
	<insert id="insterBookNote"
		parameterType="cn.dream.entity.BookNote">
		INSERT INTO
		booknote (id,book,title,author,statrTime,updateTime,aStauts,remark)
		VALUES
		(#{id},#{book},#{title},#{author},#{statrTime},#{updateTime},#{aStauts},#{remark})
	</insert>
</mapper>
